
html { 
    background: url(../img/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vertical-center {
    margin:0;
    position: absolute;
    top: 35%;
    left: 35%;
    bottom: 35%;
    right: 35%;
  }